<div class="all">
  <div class="lefter">
    <div class="text"><a routerLink="/profile" routerLinkActive="active">Profile</a></div>
  </div>
  <div class="left">
    <div class="text"><a routerLink="/repository" routerLinkActive="active">Repository</a></div>
  </div>
  <div class="center">
    <div class="explainer"><span>Menu</span></div>
    <a><div class="text"><a routerLink="/contact" routerLinkActive="active">Contact</a></div></a>
  </div>
  <div class="right">
    <div class="text"><a routerLink="/contribution" routerLinkActive="active">Contribution</a></div>
  </div>
  <div class="righter">
    <div class="text"><a routerLink="/technologies" routerLinkActive="active">Technologies</a></div>
  </div>
</div>

