<html>
<body>
    <div class="content" id="about-me-bar">
        <div id="profile-pic-div">
            <img id="profile-pic">
        </div>


        <div id="name-and-information">
            <h1 style="font-family: Verdana; font-size:35px;">Introdução</h1>
            <p id="info-paragraph">Sou desenvolvedor de software com mais de 5 anos de experiência trabalhando com desenvolvimento backend. Sou apaixonado por tecnologia, construindo coisas novas e refatorando código.</p>
        </div>
    </div>

    <div id="content-body">
        <table>
            <tr>
                <th colspan="2">Experiências</th>
            </tr>
            <hr>
            <tr>
                <td>
                    <h2><a href="https://www.linkedin.com/company/premiersoft/mycompany/" target="_blank">Premier
                            Soft</a></h2>
                    <p>Jun/2021 - Atualmente</p>
                    <a>Alocado atualmente na <a href="https://www.linkedin.com/company/centralailos/"
                            target="_blank">Central Ailos</a> como desenvolvedor C#.</a>
                        <p>Trabalhando com as principais ferramentas do mercado:</p>
                    <ul>
                        <li><b>C#</b>
                            <ol>
                                <li>Entity Framework;</li>
                                <li>.Net Core;</li>
                                <li>.Net Framework;</li>
                                <li>Dapper;</li>
                                <li>CQRS;</li>
                                <li>DDD;</li>
                                <li>Hang Fire;</li>
                            </ol>
                        </li>
                        <p></p>
                        <li><b>Bando de dados</b>
                            <ol>
                                <li>SQL Server;</li>
                                <li>PL/SQL;</li>
                                <li>Mongo DB;</li>
                            </ol>
                        </li>
                        <p></p>
                        <li> <b>Integrações</b>
                            <ol>
                                <li>Sales Force - Marketing Cloud;</li>
                                <li>Saque e Pague;</li>
                            </ol>
                        </li>
                    </ul>
                    <hr>
                </td>
            </tr>
            <tr>
            </tr>
            <p>Minhas outras experiências estão em meu <a target="_blank" href="https://www.linkedin.com/in/matheus-s-297540140/">Linkedin</a>.</p>
            <tr>
                <hr>
            </tr>
        </table>
    </div>

    <div id="content-body">
        <table>
            <tr>
                <th colspan="2">Curiosidades</th>
            </tr>
            <tr>
                <td>
                    <h2>Hobby</h2>
                    <li>Jogar futebol;</li>
                    <li>Video games;</li>
                    <li>Viajar;</li>
                    <li>Programar</li>
                </td>
            </tr>
            <hr>
            <tr>
                <td>
                    <h2>Idiomas</h2>
                    <li>Inglês</li>
                </td>
            </tr>
            <hr>
        </table>
    </div>


    <div id="footer">
        <p>Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> by developer Matheus Santos All Rights Reserved
        </p>
    </div>
</body>

</html>