body{
	background-color: 0 0 30px 10px rgba(100, 100, 255, .6)
}
body div{
	font-family: Verdana;
	border-bottom-right-radius: 5px;
}
#profile-pic-div{
	margin: 0 auto;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	min-height: 20vw;
	min-width: 20vw;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid #003aa7;
    position: relative;
}
#profile-pic{
	background: #212121 url("https://pbs.twimg.com/profile_images/1507124087566569475/QPGrDjwF_400x400.jpg") top ;
	background-repeat: repeat-x;
	height: 110%;
	left: 0;
	opacity: 5;
	position: absolute;
	top: 0;
    width: 100%;
}
#name-and-information{
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	min-width: 60%;
	height: auto;
	color: #000000;
	text-align: center;
	padding: 10px;
	padding-left: 20%;
	padding-right: 20%;
}
#info-paragraph{
	text-align: justify;
}
#content-body{
	box-shadow: -10px 10px 10px #000000;
	margin: 0 auto;
	width: 80%;
	background-color: white;
	border-right: 2px solid #000000;
	border-bottom: 1px solid #000000;
	margin-top: 40px;
}
th{
	font-family: Verdana;
	text-align: center;
	font-size: 35px;
	color: #000000;
}
table{
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

td{
	width: 35%;
	height: 25vw;
	overflow: hidden;

}

#footer{
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
	min-height: 100px;
	font-family: Verdana;
	font-style: italic;
	padding-top: 20px;
	margin-top: 20px;
	border-radius: 3px;
	clear: both;
}
