  <div id="Contact-Me">
    <div id="form-info">
        <h2>Entre em contato</h2>
        <p>Você pode entrar em contato comigo pelo meu e-mail: matheus.santos.silva1@outlook.com. Aceito elogios,melhorias e críticas Não seja tímido...</p>
        <hr style="color:#000000;">
        <p class="social-media">Me siga:<br>
            <a target="_blank" title="Me siga no Facebook" href="https://www.facebook.com/Matheuss2Forever/"><img alt="follow me on facebook" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-256.png"></a>
			<a target="_blank" title="Me siga no Instagram" href="https://www.instagram.com/matheus.santos.s/"><img alt="follow me on Instagram" src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-256.png"></a>
			<a target="_blank" title="Me siga no Linkedin" href="https://www.linkedin.com/in/matheus-s-297540140/"><img alt="follow me on Linkedin" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/linkedin-256.png"></a>
        </p>
    </div>
</div>
<div id="footer">
    <p>Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> by developer Matheus Santos All Rights Reserved
    </p>
  </div>